@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 17px;
}

body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-attachment: cover;
}
